In [63]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Import merged csv of raw data. Data courtesy of baseball-reference.com
df = pd.read_csv (r'/Users/lochlanhendrix/Desktop/TripleAHitters.csv')

#Add column for what team a player is on
team = []
for i in range (0, 39):
    team.append("El Paso")
for i in range (39, 62):
    team.append("Oklahoma City")
for i in range (62,98):
    team.append("Round Rock")
for i in range (98,127):
    team.append("Sugar Land")
for i in range (127, 155):
    team.append("Albuquerque")
for i in range (155, 192):
    team.append("Reno")
for i in range (192, 237):
    team.append("Tacoma")
for i in range (237, 279):
    team.append("Las Vegas")
for i in range (279, 315):
    team.append("Salt Lake")
for i in range (315, 362):
    team.append("Sacremento")   
for i in range (362, 396):
    team.append("Durham")
for i in range (396,425):
    team.append("Scranton")
for i in range (425,465):
    team.append("Jacksonville")
for i in range (465, 501):
    team.append("Buffalo")
for i in range (501, 542):
    team.append("Lehigh Valley")    
for i in range (542, 573):
    team.append("Worcester") 
for i in range (573, 614):
    team.append("Norfolk")
for i in range (614, 649):
    team.append("Rochester")  
for i in range (649, 689):
    team.append("Syracuse") 
for i in range (689, 724):
    team.append("Charlotte")  
for i in range (724, 760):
    team.append("Nashville")  
for i in range (760, 793):
    team.append ("Toledo")   
for i in range (793, 831):
    team.append("Columbus")   
for i in range (831, 871):
    team.append("Indianapolis")  
for i in range (871, 915):
    team.append("St. Paul")   
for i in range (915, 946):
    team.append("Memphis")  
for i in range (946, 978):
    team.append("Omaha")   
for i in range (978, 1011):
    team.append("Gwinnett") 
for i in range (1011, 1044):
    team.append("Iowa")
for i in range (1044, 1091):
    team.append("Louisville")    
    
df['Team'] = team


#Add column for what league a player is in
league = []
for i in range (0, 362 ):
    league.append("Pacific Coast League")
for i in range (362, 1091):
    league.append("International League")
df['League'] = league



Name = []
Name = df["Name"]
Bats = []

#Raw data is formatted so that a player that bats left will be denoted as FirstName LastName*, and a switch will be
#FirstName LastName#. Remove symbols from end of name and instead add a column that denotes batting preference.
for i in range (0, len(Name) ):
    
    iLen = len(Name[i])
    
    if (Name[i][iLen - 1] == '*'):
        newName = Name[i].replace('*','')
        Name[i] = newName
        Bats.append("Left")
        
    elif (Name[i][iLen - 1] == '#'):
        newName = Name[i].replace('#','')
        Name[i] = newName
        Bats.append("Switch")
        
    else:
        Bats.append("Right")
        
df['Name'] = Name
df['Bats'] = Bats

#Remove junk columns
df.drop('Rk', inplace = True, axis = 1)
df.drop('Name-additional', inplace = True, axis = 1)
df.drop('Notes', inplace = True, axis = 1)

#Export formatted data
df.to_csv (r'/Users/lochlanhendrix/Desktop/TripleA_DF.csv', index = None, header=True)